<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
  <div *ngFor="let prop of schema; ">
    <div class="row">
      <label>{{prop.name | titlecase }}</label>
      <div [ngSwitch]="prop.type" class="field-group">
        <ng-container *ngSwitchCase="'string'">
          <div class="col6">
            <input type="text" [formControlName]="prop.name" [id]="prop.name" />
          </div>
          <div class="col2" style="text-align: center;">
              operator
          </div>
          <div class="col4">
            <select [formControlName]="prop.name+'__strop'">
              <option *ngFor="let option of stringOpNames" [value]="option">{{option}}</option>
            </select>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'date'">
            <div class="col5">
              <input type="date" [formControlName]="prop.name+'__gt'" [id]="prop.name+'__gt'" />
            </div>
            <div class="col2" style="text-align: center;">
                to
            </div>
            <div class="col5">
                <input type="date" [formControlName]="prop.name+'__lt'" [id]="prop.name+'__lt'" />
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'number'">
            <div class="col5">
              <input type="number" [formControlName]="prop.name+'__gt'" [id]="prop.name+'__gt'" />
            </div>
            <div class="col2" style="text-align: center;">
                to
            </div>
            <div class="col5">
                <input type="number" [formControlName]="prop.name+'__lt'" [id]="prop.name+'__lt'" />
            </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center">
    <button type="submit">Search</button>
  </div>
</form>


<ng-container  *ngIf="query">
<h3>query</h3>
<pre class="code">{{query|json}}</pre>
</ng-container>