:host {
    margin-top: 2rem;
    display: block;
}

textarea {
    width: 100%;
    height: 15rem;
    font-family: monospace;
}

.row {
    width: 100%;
    clear: both;
    padding: 1rem 0;
}

.field-group {
    width: 100%;
    clear: both;
    display: flex;
}

.field-group input, .field-group select {
    width: 100%;
}

label {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 2px;
}