h1 { 
    text-align: center;
    margin-top: 2rem;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 5% auto;
    position: relative;
}

a.show-schema-link {
    display: block;
    position: absolute;
    right: 0;
    top: 3.5rem;
    text-decoration: none;
    color: darkgray;
}

div.schema {
    overflow: hidden;
    max-height: 0;
    width: 100%;
    float: left;
    transition: max-height 0.45s ease-out;
    margin-top: 3rem;
}

a.show-schema-link:hover + div.schema, div.schema:hover {
    max-height: 900px;
    transition: max-height 0.65s ease-out;
}