/*! tinyreset.css v0.1.0 | github.com/shankariyerr/tinyreset */
html,
body,
div,
span,
iframe,
blockquote,
pre,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote::before, blockquote::after,
  q::before,
  q::after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
    font-family: arial, sans-serif;
}

* { box-sizing: border-box } 


/* grid */


.col6, .col3, .col5, .col2, .col4 { 
  float: left;
  margin-right: 20px;
}

.col6 {
  width: 50%;
}

.col1 {
  width: 8.333%;
}

.col2 {
  width: 16.6666%;
}

.col5 {
  width: 41.666%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 33.3333%;
}

button
/* Or better yet try giving an ID or class if possible*/
{
  border: 0;
  background: none;
  box-shadow:none;
  border-radius: 300px;
  background-color: #36b3a8;
  padding: 1rem 1.75rem;
  font-size: .8rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 2px;
  cursor: pointer;
}

pre.code {
  background-color: #333;
  width: 100%;
  padding: 25px;
  color: #fff;
}


button:focus{
  outline: none;
}